<div style="margin-top: 5%;" class="row float-end">
  <button class="btn btn-outline-success" routerLink="/professoresgp/add"> Add +</button>
</div>

<table class="table table-bordered table-striped ">
  <tr>
    <th> ID </th>
    <th> Nome </th>
    <th> Email</th>
  </tr>
  
  <tr *ngFor="let prof of professoresgp">
    <td> {{prof.id}} </td>
    <td> {{prof.nome}} </td>
    <td> {{prof.email}} </td>
    <td>
      <button style="margin-right: 20%;" class="btn btn-outline-info" [routerLink]="['/professoresgp/editar', prof.id]">Editar</button>

      <button class="btn btn-outline-danger" (click)="onDelete(prof.id!)"> Deletar </button>
    </td>
  </tr>
</table>

<!--http://cursos.grandeporte.com.br:8080/professores
criar um outro módulo para criar os componentes para listar os professores da API acima e conseguir criar um novo professor, o módulo deve se chamar  professores-gp-->
